@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#top{
    width: 100%;
    height: 100vh;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.toggle{
    display: none;
}
header{
    height: 70px;
    line-height: 70px;
    display: grid;
    grid-template-columns: 50% 50%;
    background: white;
}

.logo{
    text-align: center;
}
.logo img{
    width: 200px;
    margin-top: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 0 15px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}
nav ul li a:hover{
    color: #00aeef;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;

}
.text h1{
    font-size: 40px;
    letter-spacing: 1px;
}
.text p{
    /* padding: 15px 0; */
    font-size: 28px;
}
.text a,.inneradvocate a{
    text-decoration: none;
    color: white;

}
.text h3{
    padding: 15px 0;
}
.text button,.inneradvocate button{
    background: none;
    padding: 15px 40px;
    background: #00aeef;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
}
.text button:hover{
    background: none;
    border: 2px solid #00aeef;


}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(25, 2, 51,.8);
    z-index: 1;
}
.box{
    padding: 70px 0;
    text-align: center;
}
.boxgrid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 20px;
}
.innerbox{
    padding: 40px;
}
.innerbox i{
    font-size: 40px;
    color: #00aeef;
}
.innerbox h3{
    padding: 15px 0;
}
.footer{
    padding: 50px 0;
    background: #00aeef;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
}
.innerfooter{
    padding: 40px;
}
.innerfooter h3{
    margin-bottom: 15px;
}
.innerfooter i{
    margin-right: 10px;
}
.sicones ul{
    list-style: none;
    display: flex;
    margin-top: 15px;
}
.sicones ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
footer{
    text-align: center;
    padding: 15px 0;
    font-size: 22px;
}
.advocate{
    display: grid;
    grid-template-columns: 50% 50%;
}
.advocate img{
    width: 100%;
}
.inneradvocate{
    padding: 50px;
}
.inneradvocate h2{
    margin-bottom: 15px;
}
.inneradvocate p{
    font-size: 14px;
}
.contact{
    padding: 60px 0;
    text-align: center;
    border-top: 1px solid #00aeef;
}
.contact button{
    width: 70%;
    padding: 15px;
    background: #00aeef;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;

}
.contact input,textarea{
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    margin: 8px auto;
    border: 1px solid #00aeef;
    border-radius: 5px;
}
#price{
    padding: 60px 0;
}
#price h1{
    text-align: center;
    margin: 15px 0;
}
.tablegrid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 2%;
    margin-left: 5%;
}
.innertable{
    border: 1px solid #00aeef;

}
.tabletop{
    text-align: center;
    padding: 30px 0;
    background: #00aeef;
    color: white;
}
.tabletop i{
    font-size: 35px;
    margin-bottom: 15px;
}
.pricem{
    text-align: center;
    /* border: 1px solid #00aeef; */
    padding: 10px 0;
}
.pricem span{
    font-size: 35px;
}
.pricem h5{
    padding: 0;
}
.tablegrid ul{
    list-style: none;
    border-top: 1px solid #00aeef;

}
.tablegrid button{
    display: block;
    margin: 15px auto;
    background: #00aeef;
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
}
.bottom h5{
    padding: none;
    text-align: center;
}
.tablegrid ul li{
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
    /* border-bottom: 1px solid #00aeef; */
}
@media only screen and (max-width: 950px) {
    header{
        display: block;
    }
    .logo img{
        margin-top: 10px;
    }
    
    .toggle{
        display: block;
        float: right;
        margin-right: 20px;
        font-size: 25px;
        cursor: pointer;
    }
    .logo{
        text-align: left;
        padding-left: 30px;
    }
    nav{
        z-index: 100;
        width: 100%;
        height: 85vh;
        background: white;
        position: relative;
        display: none;
        /* margin-top: -10px; */

    }
    nav ul{
        text-align: center;
        border-top: 1px solid #00aeef;
        display: block;
    }
    nav ul li{
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #00aeef;
    }
    nav ul li:hover{
        background: #00aeef;
    }
    nav ul li:hover a{
        color: white;
    }

    .text h1{
        font-size: 30px;

    }
    .text p{
        font-size: 20px;
    }
    .boxgrid{
        display: block;
    }
    .box h2{
        padding: 0 40px;
        font-size: 22px;
    }
    .footer{
        display: block;
    }
    footer{
        font-size: 16px;
    }
    .advocate{
        display: block;
    }
    .tablegrid{
        display: block;
        margin-left: 0;
    }
    .innertable{
        margin: 40px;
    }
}
.info{
    text-align: center;
    padding: 40px 0;
    color: #333;
}
.info h1{
    font-size: 30px;
}
.info p,h5{
    padding: 15px 0;
}
@media only screen and (max-width: 700px) {
    .text{
        display: block;
        width: 100%;
    }
    .text h1{
        font-size: 20px;
        padding: 0 30px;

    }
    .text p{
        font-size: 15px;
        padding: 15px 30px;
    }
    .info h1{
        font-size: 23px;
    }
}