
    <div class="main-container">
        <section class="cover cover-features imagebg space--lg" data-scrim-bottom="9">
            <div class="background-image-holder">
                <img alt="background" src="images/mining.jpg" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-7">
                        <h1>
                            Africa's Fastest Growing Resource Company
                        </h1>
                        <p class="lead">
                            Acansaz Group is an ambitious mining development company focused on developing large-scale mining projects from greenfield projects through to mineral extraction.
                        </p>
                        <a class="btn btn--primary type--uppercase" href="#">
                            <span class="btn__text">
                                View Our Portfolio
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature feature--featured feature-1 boxed boxed--border bg--white">
                            <h5>Half Year Results 2017</h5>
                            <p>
                                28 February, 2017
                            </p>
                            <a href="#">
                                Read Story
                            </a>
                            <span class="label">New</span>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-1 boxed boxed--border bg--white">
                            <h5>Awarded HSBC Contract</h5>
                            <p>
                                24 January, 2017
                            </p>
                            <a href="#">
                                Read Story
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-1 boxed boxed--border bg--white">
                            <h5>Environmental Statement</h5>
                            <p>
                                10 January, 2017
                            </p>
                            <a href="#">
                                Read Story
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="switchable bg--secondary">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-md-8 col-lg-7">
                        <h2>End-to-end planning and construction</h2>
                        <p class="lead">
                            Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
                        </p>
                        <p class="lead">
                            Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="text-block">
                            <h5>Global</h5>
                            <p>
                                enquiries@stackconstruction.net
                            </p>
                        </div>
                        <div class="text-block">
                            <h5>Melbourne</h5>
                            <p>
                                Rialto Building
                                <br /> 200 Bourke Street
                                <br /> Melbourne, Victoria
                            </p>
                        </div>
                        <div class="text-block">
                            <h5>Sydney</h5>
                            <p>
                                Suite 102
                                <br /> 364 Malvern Road
                                <br /> Armadale, Victoria
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="feature">
                            <div class="radial" data-value="33" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                <span class="h3 radial__label">Concept</span>
                            </div>
                            <!--end radial-->
                            <p>
                                Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="feature">
                            <div class="radial" data-value="66" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                <span class="h3 radial__label">Plan</span>
                            </div>
                            <!--end radial-->
                            <p>
                                Select from over 270 interface blocks, customise the look to build your perfect page.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="feature">
                            <div class="radial" data-value="100" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                <span class="h3 radial__label">Construct</span>
                            </div>
                            <!--end radial-->
                            <p>
                                Download your page as a semantic HTML document and easily make further customisations and additions in your editor.
                            </p>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="imageblock switchable feature-large bg--dark">
            <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                <div class="background-image-holder">
                    <img alt="image" src="img/construction-2.jpg" />
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-7">
                        <h2>Class-leading design and building processes</h2>
                        <p class="lead">
                            Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
                        </p>
                        <p class="lead">
                            Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                        </p>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2>Get In Touch</h2>
                        <p class="lead">
                            Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                        </p>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="switchable">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-5">
                        <p class="lead">
                            E:
                            <a href="#">hello@stack.net</a>
                            <br /> P: +613 4827 2294
                        </p>
                        <p class="lead">
                            Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.
                        </p>
                        <p class="lead">
                            We are open from 9am &mdash; 5pm week days.
                        </p>
                    </div>
                    <div class="col-md-6 col-12">
                        <form class="form-email row" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                            <div class="col-md-6 col-12">
                                <label>Your Name:</label>
                                <input type="text" name="Name" class="validate-required" />
                            </div>
                            <div class="col-md-6 col-12">
                                <label>Email Address:</label>
                                <input type="email" name="email" class="validate-required validate-email" />
                            </div>
                            <div class="col-md-12 col-12">
                                <label>Message:</label>
                                <textarea rows="4" name="Message" class="validate-required"></textarea>
                            </div>
                            <div class="col-md-5 col-lg-4 col-6">
                                <button type="submit" class="btn btn--primary type--uppercase">Send Enquiry</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <footer class="space--sm footer-1 text-center-xs ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline list--hover">
                            <li>
                                <a href="#">
                                    <span>Our Company</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Locations</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Products</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Work With Us</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right text-center-xs">
                        <ul class="social-list list-inline list--hover">
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-google icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-twitter icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-facebook icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-instagram icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="btn type--uppercase">
                            <span class="btn__text">
                                Contact Us
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-md-12">
                        <img alt="Image" class="logo" src="img/logo-dark.png" />
                        <span class="type--fine-print">
                            &copy;
                            <span class="update-year"></span> Stack Inc.
                        </span>
                        <a class="type--fine-print" href="#">Privacy Policy</a>
                        <a class="type--fine-print" href="#">Legal</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
