@model HelpingHands.Models.Contact
<section id="hero" class="module parallax rellax parallax-1">
    <div class="container">
        <div class="jumbotron special-jumbtron" data-aos="fade-up">
            <h1 class="display-4 text-center" data-aos="fade-up" data-aos-delay="300">
                Access Quality Manufacturers through our Platform
            </h1>
            <p class="lead" data-aos="fade-up" data-aos-delay="500">Submit a Project and get a quote For Just $9.90 A Month</p>
            <hr>
            <a data-aos="fade-up" data-aos-delay="600" class="btn btn-success btn-cta font-weight-bold text-uppercase btn-lg btn-rounded btn-shadowed" role="button" href="~/pricing.html">Subscribe</a>
        </div>

    </div>
</section>

<section id="features" class="feature-container bg-gray-2 float-container">
    <div class="container ">
        <div class="features-list ">
            <div class="feature-item" data-aos="fade-up" data-aos-delay="200">
                <img src="~/assets/img/job.png" alt="clock">
                <div class="desc">
                    Submit a job that needs to be manufactured
                </div>
            </div>
            <div class="feature-item" data-aos="fade-up" data-aos-delay="300">
                <img src="~/assets/img/quote2.svg" alt="phone">
                <div class="desc">
                    Get a quote from Manufacturers with excess capactiy
                </div>
            </div>
            <div class="feature-item" data-aos="fade-up" data-aos-delay="400">
                <img src="~/assets/img/shaking-hands-icon-2.png" alt="pills">
                <div class="desc">
                    Receive your finished products on time and budget
                </div>
            </div>
        </div>
    </div>
</section>

<section id="vision" class="vision-container bg-gray-4">
    <div class="container ">
        <div class="row ">
            <div class="col-lg vision-wrapper">
                <div class="vision-box" data-aos="fade" data-aos-delay="200">
                    <h1>
                        Why Capacitym?
                    </h1><br><br>
                             <p style="text-align: justify;">
                                 Capacitym provides an online platform that connects manufacturers with other manufacturers with excess capacity. Excess capacity refers to a situation in which the demand for a company's goods and services is less than its productive capacity. The situation can arise during the low point in a seasonal industry, where capacity is maintained to match the peak part of the season. Excess capacity can also arise when customer demand has permanently declined, which could be an opportunity for a firm to cut back on the amount of its capacity to reduce costs.
                             </p>

                    <svg class="triangle" preserveAspectRatio="none" data-bbox="19.999 20 160.002 160" viewBox="19.999 20 160.002 160" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="img">
                        <g>
                            <path d="M180.001 180H19.999V20l160.002 160z"></path>
                        </g>
                    </svg>
                </div>

                <div class="text-center">
                    <a class="btn btn-success btn-cta text-spaced font-weight-bold text-uppercase btn-lg btn-rounded btn-shadowed" role="button" href="./partner.html">Partner with us</a>
                </div>
            </div>
            <div class="col-lg vision-image" data-aos="fade" data-aos-delay="100" style="background-image: url('./assets/img/network.jpg');">
            </div>
        </div>
    </div>
</section> 

<section id="slide" class="slide-show bg-gray-2">
    <div class="slideshow-vision container">
        <div>
            <img src="./assets/img/vision1.jpg" alt="" data-aos="fade-up" data-aos-delay="200">
            <div class="feature-item standalone bg-gray-2">
                <div class="desc">
                    Submit your Project Online
                </div>
            </div>
        </div>
        <div>
            <img src="./assets/img/vision2.jpg" alt="" data-aos="fade-up" data-aos-delay="400">
            <div class="feature-item standalone bg-gray-2">
                <div class="desc">
                    Get a Quote from our Manufacturer Network
                </div>
            </div>
        </div>
        <div>
            <img src="./assets/img/vision3.jpg" alt="" data-aos="fade-up" data-aos-delay="600">
            <div class="feature-item standalone bg-gray-2">
                <div class="desc">
                    Agree on Price and Receive Finished Goods
                </div>
            </div>
        </div>
    </div>
</section>
 
<section id="contact" class="contact-wrapper bg-gray-3">
    <div class="container" data-aos="fade-up" data-aos-delay="200">
        <h1 class="text-uppercase text-center text-white">Contact Capacitym</h1>
        <form asp-controller="Contacts" asp-action="Create" class="contact-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md">
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md">
                    <input type="email" asp-for="EmailAddress" class="form-control" placeholder="Email">
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <input type="text" asp-for="Subject" class="form-control" placeholder="Subject">
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <textarea class="form-control" asp-for="Note" rows="3" placeholder="Type your message here..."></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-lg btn-light">Submit</button>
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
