@{
    ViewData["Title"] = "Acansaz Group is an ambitious mining development company focused on developing large-scale";

    Layout = "_LayoutLight";
}

<section class="cover cover-features imagebg space--lg" data-scrim-bottom="9">
    <div class="background-image-holder">
        <img alt="background" src="images/mining-excavator.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7">
                <h1>
                    Africa's Fastest Growing Resource Company
                </h1>
                <p class="lead">
                    Acansaz Group is an ambitious mining development company focused on developing large-scale mining projects from greenfield projects through to mineral extraction.
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                    <span class="btn__text">
                        View Our Portfolio
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature--featured feature-1 boxed boxed--border bg--white">
                    <h5>Half Year Results 2017</h5>
                    <p>
                        28 February, 2017
                    </p>
                    <a href="#">
                        Read Story
                    </a>
                    <span class="label">New</span>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border bg--white">
                    <h5>Awarded HSBC Contract</h5>
                    <p>
                        24 January, 2017
                    </p>
                    <a href="#">
                        Read Story
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border bg--white">
                    <h5>Environmental Statement</h5>
                    <p>
                        10 January, 2017
                    </p>
                    <a href="#">
                        Read Story
                    </a>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable bg--secondary">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-8 col-lg-7">
                <h2>End-to-end planning and construction</h2>
                <p class="lead">
                    Acansaz actively looks for opportunities within the mining sector in Africa.   We have partners is Zambia, Zimbabwe, Angola, Uganda, and Tanzania.  We help take mining projects from concept to profitable ventures by connecting companies with Venture Capitalists and Metals buyers.
                </p>
                <p class="lead">
                    In today’s challenging financial environment, attracting investment dollars means giving investors something to get excited about, and risky greenfield projects don’t always fit the bill.  Acquiring a brownfield project, however, means acquiring assets such as an extensive database, technical reports, economic and feasibility studies, permits and even development work such as adits and drifts — representing millions of dollars of invested capital.
                </p>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="text-block">
                    <h5>Global</h5>
                    <p>
                        enquiries@acansaz.com
                    </p>
                </div>
                <div class="text-block">
                    <h5>Toronto</h5>
                    <p>
                        Rialto Building
                        <br /> 200 Bourke Street
                        <br /> Kitchener, Ontario
                    </p>
                </div>
                <div class="text-block">
                    <h5>Vancouver</h5>
                    <p>
                        Suite 102
                        <br /> 364 Malvern Road
                        <br /> Vancouver, British Columbia
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="feature">
                    <div class="radial" data-value="33" data-size="208" data-bar-width="8" data-color="#4a90e2">
                        <span class="h3 radial__label">Greenfield</span>
                    </div>
                    <!--end radial-->
                    <p>
                        Greenfield exploration relies on the predictive power of ore genesis models to find mineral deposits in previously unexplored areas or in areas where they are not already known to exist.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="feature">
                    <div class="radial" data-value="66" data-size="208" data-bar-width="8" data-color="#4a90e2">
                        <span class="h3 radial__label">Brownfield</span>
                    </div>
                    <!--end radial-->
                    <p>
                        In brownfield exploration, geologists look for deposits near or adjacent to an already operating mine. As geologists are able to use existing data, the risk in brownfield exploration is considerably lower than in greenfield exploration. Because the facilities for mining and processing the ore have already been built and paid for, the additional capital cost for processing the new found ore is very low.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="feature">
                    <div class="radial" data-value="100" data-size="208" data-bar-width="8" data-color="#4a90e2">
                        <span class="h3 radial__label">Production</span>
                    </div>
                    <!--end radial-->
                    <p>
                        As soon as the construction phase is over, the mine will be taken into production. This phase has to lead to one goal: profit from operations!
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="imageblock switchable feature-large bg--dark">
    <div class="imageblock__content col-lg-6 col-md-4 pos-right">
        <div class="background-image-holder">
            <img alt="image" src="img/construction-2.jpg" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7">
                <h2>Mineral Exploration Companies</h2>
                <p class="lead">
                    Mineral exploration is broken down into two categories: greenfield and brownfield exploration.  Our company focuses on both types of exploration.  We are also involved in Metals trading.  We specialize in Off-Take Agreements and Reclamation projects.  
                </p>
                <p class="lead">
                    Our geologists look for deposits near or adjacent to an already operating mine. As geologists are able to use existing data, the risk in brownfield exploration is considerably lower than in greenfield exploration. Because the facilities for mining and processing the ore have already been built and paid for, the additional capital cost for processing the new found ore is very low.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>Get In Touch</h2>
                <p class="lead">
                    Whether you’re an existing mine and looking for additional capital or looking for Off-Take agreements, we can help connect you with the right people.  
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5">
                <p class="lead">
                    E:
                    <a href="#">hello@acansaz.com</a>
                    <br /> P: +647 444 0805
                </p>
                <p class="lead">
                    Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.
                </p>
                <p class="lead">
                    We are open from 9am &mdash; 5pm week days.
                </p>
            </div>
            <div class="col-md-6 col-12">
                <form class="form-email row" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                    <div class="col-md-6 col-12">
                        <label>Your Name:</label>
                        <input type="text" name="Name" class="validate-required" />
                    </div>
                    <div class="col-md-6 col-12">
                        <label>Email Address:</label>
                        <input type="email" name="email" class="validate-required validate-email" />
                    </div>
                    <div class="col-md-12 col-12">
                        <label>Message:</label>
                        <textarea rows="4" name="Message" class="validate-required"></textarea>
                    </div>
                    <div class="col-md-5 col-lg-4 col-6">
                        <button type="submit" class="btn btn--primary type--uppercase">Send Enquiry</button>
                    </div>
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
