
@{
    ViewData["Title"] = "Create Bids";
}

<!--MAIN BANNER AREA START -->
<div class="banner-area banner-2" id="page-banner">
    <div class="overlay dark-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                <div class="banner-content content-padding">
                    <h1 class="text-white">Create Bids</h1>
                    <p>Find CNC Manufacturers quickly and efficiently using our SaaS platform.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN HEADER AREA END -->
<!--  SERVICE AREA START  -->
<section class="section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                <img src="~/images/bg/create-new-job.jpg" alt="feature bg" class="img-fluid">
            </div>

            <div class="col-lg-7 pl-4">
                <div class="mb-5">
                    <h3 class="mb-4">Find CNC Manufactures to meet any manufacturing requirement</h3>
                    <p>As a Buyer, you can improve efficiency by using our SaaS platform to create digital RFQs.  Within seconds, you can create new RFQs faster and more efficiently.  Our unique procurement process will save you time, money, and energy.</p>
                </div>

                <ul class="about-list">
                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>Improve efficiency</h5>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Speed up procurement</h5>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>No commission costs</h5>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                    </li>
                    <li>
                        <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>Digital procurement process</h5>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->
