
@{
    ViewData["Title"] = "Order Management";
}

<!--MAIN BANNER AREA START -->
<div class="banner-area banner-2" id="page-banner">
    <div class="overlay dark-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                <div class="banner-content content-padding">
                    <h1 class="text-white">Order Management</h1>
                    <p>Use our SaaS platform to get Full Control over all Orders.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN HEADER AREA END -->
<!--  SERVICE AREA START  -->
<section class="section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                <img src="~/images/bg/document-control.jpg" alt="feature bg" class="img-fluid">
            </div>

            <div class="col-lg-7 pl-4">
                <div class="mb-5">
                    <h3 class="mb-4">Manage your Orders and increase Communication.</h3>
                    <p>We craft beautiful website layout from scratch.You need not to worry about site design and other technial issue.We provide these attractive service as a bonus.Let's have atalk together for your next project.</p>
                </div>

                <ul class="about-list">
                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>Chat in Real Time.</h5>
                        <p>Leverage our platform to communicate in real time using our chat software.</p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Process Quotes Quickly.</h5>
                        <p>Use our platform to process quotes more efficiently.</p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Easily create RFQ's</h5>
                        <p>You can easily create RFQs, organize everything related to your requirements, and effectively communicate using our SaaS platform.</p>
                    </li>
                    <li>
                        <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>Full Document Control </h5>
                        <p>Add NDA's, Terms and Conditions, Contracts, and Cad Drawings.  You can also control who see's your documents.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->
