
@{
    ViewData["Title"] = "Order Search";
}

<!--MAIN BANNER AREA START -->
<div class="banner-area banner-2" id="page-banner">
    <div class="overlay dark-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                <div class="banner-content content-padding">
                    <h1 class="text-white">Order Search</h1>
                    <p>Find new orders with just a few clicks: CAPACITYM.com for CNC Manufacturers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN HEADER AREA END --> 
<!--  SERVICE AREA START  -->
<section class="section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                <img src="~/images/bg/search-rfq.jpg" alt="feature bg" class="img-fluid">
            </div>

            <div class="col-lg-7 pl-4">
                <div class="mb-5">
                    <h3 class="mb-4">Find available CNC Orders through our software</h3>
                    <p>CAPACITYM.com is VERY easy to use! As a CNC Manufacturer, you should only be concerned with managing your business.  Find new business through our platform. Within seconds, our CAPACITYM.com platform delivers you all available RFQs. Whether the RFQ is milling, turning, additive manufacturing, etc. – all the relevant order information is easily accessible. With CAPACITYM.com, you can reach optimal machine capacity and reduce short or long-term operational costs.</p>
                </div>

                <ul class="about-list">
                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>Immediately available CNC RFQs</h5>
                        <p>Leverage our platform to provide all available rfq's for immediate response.</p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Orders tailored to your machine fleet</h5>
                        <p>Find orders that are related to your machine fleet to speed up orders.</p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Constantly expand your CNC Client Network</h5>
                        <p>Having trouble growing your network, use our platform to increase your CNC client network.</p>
                    </li>
                    <li>
                        <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>All RFQ information is available in real time</h5>
                        <p>Get all related RFQ information in real time using our SaaS platform.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->  
