
@{
    ViewData["Title"] = "Quote Management";
}

<!--MAIN BANNER AREA START -->
<div class="banner-area banner-2" id="page-banner">
    <div class="overlay dark-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                <div class="banner-content content-padding">
                    <h1 class="text-white">Quote Management</h1>
                    <p>Manage Quotes easily by using our secure online SaaS platform.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN HEADER AREA END -->
<!--  SERVICE AREA START  -->
<section class="section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                <img src="~/images/bg/quote-management.jpg" alt="feature bg" class="img-fluid">
            </div>

            <div class="col-lg-7 pl-4">
                <div class="mb-5">
                    <h3 class="mb-4">We are making beautiful <br>design layout business site</h3>
                    <p>We craft beautiful website layout from scratch.You need not to worry about site design and other technial issue.We provide these attractive service as a bonus.Let's have atalk together for your next project.</p>
                </div>

                <ul class="about-list">
                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>Quote Management</h5>
                        <p>Leverage our platform with our Quote Management System. </p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Real-time Communication</h5>
                        <p>Use our realtime chat to share documents and information so that you can get a better idea of what you will be building.</p>
                    </li>

                    <li>
                        <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Make faster decisions</h5>
                        <p>Access the quote information faster so you can speed up your decision making.</p>
                    </li>
                    <li>
                        <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>Get Paid Faster</h5>
                        <p>Use our platform to get paid faster.  </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->
