@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Crispans group is focus on the mining sector in Southern Africa.  We find quality mining projects and help develop them into profitable ventures.">
    <meta name="keywords" content="Crispans group is focus on the mining sector in Southern Africa.  We find quality mining projects and help develop them into profitable ventures.">
    <meta name="author" content="Crispans Group">
    <title>@ViewData["Title"] - Crispans Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class=" ">
    <a id="start"></a>
    <div class="nav-container ">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="/">
                            <img class="logo logo-dark" alt="logo" src="~/images/long-logo-dark.png" />
                            <img class="logo logo-light" alt="logo" src="/images/long-logo-light.png" />
                        </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->
        <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--absolute">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-2 hidden-xs">
                        <div class="bar__module">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="~/images/long-logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="/images/long-logo-light.png" />
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li>
                                    <a href="/">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="/about">
                                        About
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end module-->
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="/register/">
                                <span class="btn__text">
                                    Register
                                </span>
                            </a>
                            <a class="btn btn--sm btn--primary type--uppercase" href="/Identity/Account/Login">
                                <span class="btn__text">
                                    Log In
                                </span>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>
        <!--end bar-->
    </div>
    <div class="main-container">
        @RenderBody()
        <footer class="space--sm footer-1 text-center-xs ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline list--hover">
                            <li>
                                <a href="#">
                                    <span>Our Company</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Locations</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Products</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Work With Us</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right text-center-xs">
                        <ul class="social-list list-inline list--hover">
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-google icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-twitter icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-facebook icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-instagram icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="btn type--uppercase">
                            <span class="btn__text">
                                Contact Us
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-md-12">
                        <img class="logo" alt="logo" src="~/images/long-logo-dark.png" />
                        <span class="type--fine-print">
                            &copy;
                            <span class="update-year"></span> Stack Inc.
                        </span>
                        <a class="type--fine-print" href="#">Privacy Policy</a>
                        <a class="type--fine-print" href="#">Legal</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
    </div>
    <!--<div class="loader"></div>-->
    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>


    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/flickity.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/typed.min.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/ytplayer.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/granim.min.js"></script>
    <script src="/js/jquery.steps.min.js"></script>
    <script src="/js/countdown.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
