@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li id="theme_selector" class="dropdown" style="cursor: pointer;">
        <a class="nav-link smoth-scroll" id="dropdownTenders" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Products</span>
        </a>
        <ul id="theme" class="dropdown-menu" role="menu">
            <li>
                <a class="dropdown-item" href="/portal/Products/Manage">Manage Products</a>
            </li>
            <li>
                <a class="dropdown-item" href="/portal/Products/Create">Add New Product</a>
            </li>
        </ul> 
    </li>
}
else
{
    <li class="nav-item mt-0">
        <a class="nav-link smoth-scroll" href="/Products">Products</a>
    </li>
}
