@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li id="theme_selector" class="dropdown" style="cursor: pointer;">
        <a class="nav-link smoth-scroll" id="dropdownTenders" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Tenders</span>
        </a>
        <ul id="theme" class="dropdown-menu" role="menu">
            <li>
                <a class="dropdown-item" href="/portal/tender/search">Manage Tenders</a>
            </li>
            <li>
                <a class="dropdown-item" href="/portal/tender/create">Add New Tender</a>
            </li> 
        </ul>
    </li>
}
else
{
    <li class="nav-item mt-0">
        <a class="nav-link smoth-scroll" href="/tenders">Tenders</a>
    </li>
}
