
@{
    ViewData["Title"] = "About us";

    Layout = "_LayoutLight";
}

<section class="text-center imagebg space--lg" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="images/gold-off-take-agreements.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <h1>Hi, We're The Acansaz Group</h1>
                <p class="lead">
                    An innovative collective of like-minded individuals connecting capital, buyers and suppliers within the African Mining Sector
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2>Mission Statement</h2>
                <p class="lead">
                    Our vision is to be a highly profitable gold mining business by finding, developing and operating the best assets with the best people to deliver the best returns, on a sustainable basis, to our owners and partners.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section> 
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div class="slider border--round" data-arrows="true" data-paging="true">
                    <ul class="slides">
                        <li>
                            <img alt="Image" src="~/images/mining.jpg" />
                        </li>
                        <li>
                            <img alt="Image" src="~/images/exploration.jpg" />
                        </li>
                        <li>
                            <img alt="Image" src="~/images/investment.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center bg--secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2>What drives us</h2>
                <p class="lead">
                    We are committed to partnering with countries based in Africa and communities to transform their natural resources into tangible benefits and mutual prosperity.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
 
<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2>Meet the makers</h2>
                <p class="lead">
                    We're a diverse group of people looking to transform the African mining sector.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature-8">
                    <img alt="Image" src="img/people/Mark.png" />
                    <h5>Mark Holden</h5>
                    <span>Founder &amp; CEO</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature feature-8">
                    <img alt="Image" src="img/people/Tyrone.png" />
                    <h5>Tyrone Moodley</h5>
                    <span>Co-Founder &amp; CFO</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature feature-8">
                    <img alt="Image" src="img/people/Gwen.png" />
                    <h5>Gwen Martinez</h5>
                    <span>Co-Founder &amp; Investor Relations</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature feature-8">
                    <img alt="Image" src="img/people/Kat.png" />
                    <h5>Katherine Owens</h5>
                    <span>Co-Founder &amp; Investor Relations</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature feature-8">
                    <img alt="Image" src="img/people/yusuf.jpg" />
                    <h5>Yusuf Jasat</h5>
                    <span>Head of Development (Zambia)</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature feature-8">
                    <img alt="Image" src="img/people/Belinda.jpg" />
                    <h5>Belinda Jones</h5>
                    <span>Marketing Director (Zambia)</span>
                </div>
            </div> 
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="cta">
                    <h2>We're always looking for talent</h2>
                    <p class="lead">
                        Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our talent pool.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="#">
                        <span class="btn__text">
                            See Job Openings
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
