
@{
    ViewData["Title"] = "Index";
}

<!--MAIN BANNER AREA START -->
<div class="page-banner-area page-contact" id="page-banner">
    <div class="overlay dark-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                <div class="banner-content content-padding">
                    <h1 class="text-white">Check our story</h1>
                    <p>Learn more about how we came up with this product</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN HEADER AREA END -->
<!--  ABout2  AREA START  -->
<section class="section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
                <h3 class="mb-3">We’re Innovators & <br>Blockchain Disruptors</h3>
                <p class="mb-4">We provide an online SaaS Platform to help manufacturers get more business through lead generation and smart contracts</p>

                <span class="h5 mb-4">Let's Check what we do actually :</span>
                <ul class="about-list2 my-4">
                    <li class="mb-2"><i class="icofont icofont-check-circled"></i> Best Analytics Audits to your site in specific niche</li>

                    <li class="mb-2">
                        <i class="icofont icofont-check-circled"> </i> Modern Keyword Analysis to keep up to date
                    </li>

                    <li class="mb-2">
                        <i class="icofont icofont-check-circled"> </i> More quality content, social networking and relative sharing
                    </li>

                    <li class="mb-2">
                        <i class="icofont icofont-check-circled"> </i> Social networking and relative sharing More quality content,
                    </li>
                </ul>

                <a href="#" class="mt-3 d-inline-block">Learn more about us <i class="fa fa-angle-right"></i></a>
            </div>

            <div class="col-lg-6 col-md-4">
                <img src="images/about/about-4.jpg" alt="" class="img-fluid w-100">
            </div>
        </div>
    </div>
</section>
<!--  ABOUT AREA END  -->   
<!--  SECTION TEAM  -->
<section class="section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <h3 class="mb-2">Our Expert Members do the magical</h3>
                    <p>Learn about how we built this system</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <img src="images/team/Marcus.jpg" alt="" class="img-fluid rounded w-100">

                <ul class="list-unstyled list-inline team-social mt-4">  
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/marcusgaughan/"><i class="fab fa-linkedin"></i></a></li> 
                </ul>
                <h4 class="mt-3">Marcus Gaughan</h4>
                <p>Chief Executive Officer/Founder</p>

            </div>
            <div class="col-lg-4 col-md-6">
                <img src="images/team/Tyrone.jpg" alt="" class="img-fluid rounded w-100">

                <ul class="list-unstyled list-inline team-social mt-4">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/tyronemoodley/"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/tmoodley"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/tmoodley"><i class="fab fa-github"></i></a></li>
                </ul>
                <h4 class="mt-3">Tyrone Moodley</h4>
                <p>Chief Technology Officer/Founder</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="~/images/team/George.jpg" alt="" class="img-fluid rounded w-100">

                <ul class="list-unstyled list-inline team-social mt-4">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/george-kachambwa-0291676/"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/gkachambwa"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/georgekach"><i class="fab fa-github"></i></a></li>
                </ul>
                <h4 class="mt-3">George Kachambwa</h4>
                <p>Senior Software Engineer</p>
            </div> 
        </div>
    </div>
</section>
<!--  SECTION TEAM END  -->
