
@{
    ViewData["Title"] = "About us";

    Layout = "_LayoutLight";
}

<section class="text-center imagebg space--lg" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="images/gold-off-take-agreements.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <h1>Hi, We're The Acansaz Group</h1>
                <p class="lead">
                    An innovative collective of like-minded individuals connecting capital, buyers and suppliers within the African Mining Sector
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2>Mission Statement</h2>
                <p class="lead">
                    Our vision is to be a highly profitable gold mining business by finding, developing and operating the best assets with the best people to deliver the best returns, on a sustainable basis, to our owners and partners.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section> 
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div class="slider border--round" data-arrows="true" data-paging="true">
                    <ul class="slides">
                        <li>
                            <img alt="Image" src="~/images/mining.jpg" />
                        </li>
                        <li>
                            <img alt="Image" src="~/images/exploration.jpg" />
                        </li>
                        <li>
                            <img alt="Image" src="~/images/investment.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center bg--secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2>What drives us</h2>
                <p class="lead">
                    We are committed to partnering with countries based in Africa and communities to transform their natural resources into tangible benefits and mutual prosperity.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
 
<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <h2>Meet the makers</h2>
                <p class="lead">
                    We're a diverse group of people looking to transform the African mining sector.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container bootstrap snippets bootdey">
        <div class="profile card">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail md-margin-bottom-10" src="img/people/Mark.png" alt="">
                        </div>
                        <div class="col-md-7">
                            <h2>Mark Holden</h2>
                            <span>Founder &amp; CEO</span>
                            <hr>
                            <p>Mark is a US citizen living in Vancouver, British Columbia who has 35 years of business experience. After graduating from the University of Vermont in 1982, he started his career at EF Hutton & Co. where he was a Vice President in the Legal and Compliance Department before entering into corporate finance. Mark co-founded and financed a mining reclamation company to remediate tailings with a permitted mill in Central Nevada. Currently, he is a partner is a tailings processing operation in Arizona.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bootstrap snippets bootdey">
        <div class="profile card">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail md-margin-bottom-10" src="img/people/Tyrone.png" alt="">
                        </div>
                        <div class="col-md-7">
                            <h2>Tyrone Moodley</h2>
                            <span>Founder &amp; CFO</span>
                            <hr>
                            <p>Tyrone is a Zambian Canadian citizen living in Kitchener, Ontario who has 20 years of business experience. Tyrone is tripple major in Accounting, Software Engineering and Cyber Security.  After graduating from the University of Texas in 2003, he developed a technology startup in Zambia developing Workforce Management and Payroll Software for the Security Industry.  Tyrone has a wide range of technology and accounting experience.  He has worked in the insurance, finance, and ecommerce industry.  He has deployed Enterprise Resource Planning software and worked on Hedging software for a 100 Billion dollar Finance company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bootstrap snippets bootdey">
        <div class="profile card">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail md-margin-bottom-10" src="img/people/Gwen.png" alt="">
                        </div>
                        <div class="col-md-7">
                            <h2>Gwen Martinez</h2>
                            <span>Founder &amp; Investor Relations</span>
                            <hr>
                            <p>Gwen was born in Zambia and has over 28 years of entrepreneurial experience in the United States, Zambia, Zimbabwe and Switzerland.  She is an engaged advisory board member of World Food Bank, whose mission is to revolutionize the world’s agricultural systems through an innovative investment platform that empowers stakeholders across sectors and creates efficiencies in food production and finance. On a domestic level, Gwen works with the Namwala Ila Tribal Council in collaboration with Tribal Chiefs where programs help to foster conditions that sustain social and cultural heritage.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bootstrap snippets bootdey">
        <div class="profile card">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail md-margin-bottom-10" src="img/people/Kat.png" alt="">
                        </div>
                        <div class="col-md-7">
                            <h2>Katherine Owens</h2>
                            <span>Founder &amp; Investor Relations</span>
                            <hr>
                            <p>Katherine has 18 years of business experience and resides in Los Angeles, California. She works in the film industry, has produced, and helped finance several feature films. Katherine has extensive experience with a wide range of projects in the mining industry and has been involved in the listing of over 100 public resource companies. She brings a wealth of 15 years’ experience in physical commodity trading working directly with multiple commodities trading houses with active and diverse trading desks. Katherine also consults in the areas of water remediation, mining, and block chain technology companies located in South Africa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bootstrap snippets bootdey">
        <div class="profile card">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail md-margin-bottom-10" src="img/people/yusuf.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <h2>Yusuf Jasat</h2>
                            <span>Head of Operations (Zambia)</span>
                            <hr>
                            <p>Yusuf has over 15 years experience in the Zambian mining industry.  He has vast mining experience involving prospecting, processing, and plant development.  Yusuf has developed multiple mining projects in the Gold and Copper sector.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bootstrap snippets bootdey">
        <div class="profile card">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail md-margin-bottom-10" src="img/people/Belinda.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <h2>Belinda Jones</h2>
                            <span>Marketing Director (Zambia)</span>
                            <hr>
                            <p>Belinda started her career in acting in the local Zambian soap opera industry.  She has a large network of contacts in the mining sector in Zambia.  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="cta">
                    <h2>We're always looking for talent</h2>
                    <p class="lead">
                        Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our talent pool.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="#">
                        <span class="btn__text">
                            See Job Openings
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<style>
    img.img-thumbnail.md-margin-bottom-10 {
        max-width: 240px;
    }
    .profile .profile-body {
        padding: 20px;
        background: #fff;
    }

    .profile .profile-bio {
        background: #fff;
        position: relative;
        padding: 15px 10px 5px 15px;
    }

        .profile .profile-bio a {
            left: 50%;
            bottom: 20px;
            margin: -62px;
            text-align: center;
            position: absolute;
        }

        .profile .profile-bio h2 {
            margin-top: 0;
            font-weight: 200;
        }

    h1, h2, h3, h4, h5, h6 {
        color: #585f69;
        margin-top: 5px;
        text-shadow: none;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    h2 {
        font-size: 24px;
        line-height: 33px;
    }

    p, li, li a {
        color: #555;
    }                       
</style>
