
@{
    ViewData["Title"] = "Thank You For Contacting Us";
} 
    <section id="hero" class="module parallax rellax parallax-1">
        <div class="container">
            <div class="jumbotron special-jumbtron" data-aos="fade-up"> 
                <h1 class="display-4 text-center" data-aos="fade-up" data-aos-delay="300">@ViewData["Title"]</h1>
                <p class="lead" data-aos="fade-up" data-aos-delay="500"> 
                    One of our customer service representatives will review your information and be in contact within the next 24 hours.
                </p>
                <p>
                    
                </p>
            </div>

        </div>
    </section> 
 