@model HelpingHands.Models.Customer

@{
    ViewData["Title"] = "Create";
    ViewBag.Email = User.Identity.Name;
}
<section id="intro" class="section-padding">
    <div class="container">
        <div id="app"></div>
    </div>
</section>
@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.css" integrity="sha256-AgL8yEmNfLtCpH+gYp9xqJwiDITGqcwAbI8tCfnY2lw=" crossorigin="anonymous" />
 
    <!-- Custom scripts for all pages-->
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist-register/register-main.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .form-control {
        background: white;
    }

    small {
        color: white;
    }

    label.font-weight-bold {
        color: white;
    }

    label.form-check-label {
        color: white;
    }

    h1.text-capitalize.text-center.font3 {
        color: white;
    }

    label.col-sm-3.col-form-label {
        color: white;
    }

    .banner-area.banner-2 {
        background-size: auto;
    }
</style>
