
@{
    ViewData["Title"] = "Pricing";
}
<!--MAIN BANNER AREA START -->
<div class="page-banner-area page-contact" id="page-banner">
    <div class="overlay dark-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                <div class="banner-content content-padding">
                    <h1 class="text-white">Standard Price plan</h1>
                    <p>Sign up today and start bidding on jobs on our secure platform</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN HEADER AREA END -->
<!-- PRICE AREA START  -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 m-auto">
                <div class="section-heading">
                    <h4 class="section-title">Affordable pricing plan for you</h4>
                    <p>We have different type of pricing table to choose with your need. Check which one is most suitable for you and your business purpose. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-block ">
                    <div class="price-header">
                        <i class="icofont-diamond"></i>
                        <h4 class="price"><small>$</small>0</h4>
                        <h5>FREE</h5>
                    </div>
                    <div class="line"></div>
                    <ul>
                        <li>Access our Network of Manufacturers 24/7</li>
                        <li>Submit 1 Job per month</li>
                        <li>$9.99 for each additional job</li>
                        <li>Track all Project Correspondence through our portal</li>
                        <li>Chat with Manufacturers and get instant feedback</li>
                        <li>Make payments through our portal</li>
                        <li>Access Manufacturer ratings</li>
                    </ul> 
                    <a href="/Register?subscription=Free" class="btn btn-hero btn-circled">select plan</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-block ">
                    <div class="price-header">
                        <i class="icofont-rocket-alt-1"></i>

                        <h4 class="price"><small>$</small>19.99</h4>
                        <h5>Monthly price</h5>
                    </div>
                    <div class="line"></div>
                    <ul>
                        <li>Access our Network of Manufacturers 24/7</li>
                        <li>Submit 2 Jobs per month and Receive Quotes</li>
                        <li>$9.99 for each additional job</li>
                        <li>Track all Project Correspondence through our portal</li>
                        <li>Chat with Manufacturers and get instant feedback</li>
                        <li>Make payments through our portal</li>
                        <li>Access Manufacturer ratings</li>
                    </ul>

                    <a href="/Register?subscription=Monthly" class="btn btn-hero btn-circled">select plan</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-block">
                    <div class="price-header">
                        <i class="icofont-light-bulb"></i>

                        <h4 class="price"><small>$</small>99</h4>
                        <h5>Yearly price</h5>
                    </div>
                    <div class="line"></div>
                    <ul>
                        <li>Access our Network of Manufacturers 24/7</li>
                        <li>Submit 10 Jobs per month and Receive Quotes</li>
                        <li>$9.99 for each additional job</li>
                        <li>Track all Project Correspondence through our portal</li>
                        <li>Chat with Manufacturers and get instant feedback</li>
                        <li>Make payments through our portal</li>
                        <li>Access Manufacturer ratings</li>
                    </ul>

                    <a href="/Register?subscription=Yearly" class="btn btn-hero btn-circled">select plan</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PRICE AREA END  -->
<!--  TESTIMONIAL AREA START  -->
<section class="section-padding bg-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto col-sm-12 col-md-12">
                <div class="carousel slide" id="test-carousel2">
                    <div class="carousel-inner">
                        <ol class="carousel-indicators">
                            <li data-target="#test-carousel2" data-slide-to="0" class="active"></li>
                            <li data-target="#test-carousel2" data-slide-to="1"></li>
                            <li data-target="#test-carousel2" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="testimonial-content style-2">
                                        <div class="author-info ">
                                            <div class="author-img">
                                                <img src="images/author/3b.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>

                                        <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way! <i class="icofont icofont-quote-right"></i></p>
                                        <div class="author-text">
                                            <h5>Marine Joshi</h5>
                                            <p>Senior designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="testimonial-content style-2">
                                        <div class="author-info ">
                                            <div class="author-img">
                                                <img src="images/author/5b.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>

                                        <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way! <i class="icofont icofont-quote-right"></i></p>
                                        <div class="author-text">
                                            <h5>Marine Joshi</h5>
                                            <p>Senior designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  ITEM END  -->

                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="testimonial-content style-2">
                                        <div class="author-info ">
                                            <div class="author-img">
                                                <img src="images/author/3b.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>

                                        <p><i class="icofont icofont-quote-left"></i>They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way!<i class="icofont icofont-quote-right"></i></p>
                                        <div class="author-text">
                                            <h5>Marine Joshi</h5>
                                            <p>Senior designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  ITEM END  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  TESTIMONIAL AREA END  -->
<!--  PARTNER START  -->
<section class="section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                <img src="images/clients/client01.png" alt="partner" class="img-fluid">
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                <img src="images/clients/client06.png" alt="partner" class="img-fluid">
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                <img src="images/clients/client04.png" alt="partner" class="img-fluid">
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                <img src="images/clients/client05.png" alt="partner" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!--  PARTNER END  -->
