@page
@model HelpingHands.Models.Customer
@{
    Layout = "_LayoutAdmin";

} 
 <section id="donate" class="pad-top donate-wrapper bg-gray-1">
                    <div class="container">
                        <h3>Card Updated</h3>
                        <br />
                        Congratulations @ViewBag.GivenName @ViewBag.FamilyName!
                        <br />
                        <br />
                        Your card has been updated.  Thank you.
                    </div>
                </section> 
