@model Vue2Spa.Models.DTO.JobBidDto
@{
    ViewData["Title"] = "Bid";
    Layout = "_Layout";
}


    <section id="intro" class="section-padding">
        <div class="container">
            <h3>Congratulations!</h3>
            You have successfully submitted your bid.   Stay Tuned for more information.  We will email you if you have been selected as a winner.<br />
            <br />
            You can alway ask more questions if you need more information.<br />
            <br />
            Thanks,<br />
            CapacityM
            <hr />

        </div> 
    </section> 
<style>
    .trans-navigation {
        background: black;
    }
</style>


