@model IEnumerable<Vue2Spa.Areas.Portal.Models.Job>

@{
    ViewData["Title"] = "Index";
    //Layout = "_Layout";

} 
<section id="intro" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="container-fluid">

                <h1 class="pt-5">Bid Opportunities</h1>
                <em>Check out the latest bids opportunities below</em> 

                <div class="row pt-2 pb-2">
                    <div class="col-md-4">
                        <h4>Latest Bids</h4>
                    </div>
                    <div class="col-md-8"> 
                    </div>

                </div>

                <table id="myTable" class="table">
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{


    <script>
        $('#myTable').dataTable({
            serverSide: true,
            processing: true,
            ajax: "/Tenders/pagedata",
            columns: [

                {
                    name: 'Number',
                    data: "number",
                    title: "Number",
                    sortable: true,
                    searchable: false
                }, {
                    name: 'Name',
                    data: "name",
                    title: "Name",
                    sortable: true,
                    searchable: false
                }, {
                    name: 'DateClosing',
                    data: "dateClosing",
                    title: "Date Closing",
                    sortable: true,
                    searchable: false,
                    render: function (data, type, row) {
                        return data ? moment(data).format('MMMM Do YYYY') : '';
                    }
                }, {
                    name: 'Status',
                    data: "status",
                    title: "Status",
                    sortable: true,
                    searchable: false
                },

                {
                    title: "Actions",
                    data: null, render: function (data, type, row) {
                        return '<div >' +
                            '<a class="btn btn-primary" href="/tenders/details/'+data.id +'">' +
                            'View' +
                            '</a>' +

                            '</div>';

                    },
                    sortable: false,
                    searchable: false
                }
            ]
        });
    </script>


}
<style>
    .trans-navigation {
        background: black;
    }

    table.dataTable thead tr {
  background-color: black;
  color: white;
}
</style>
