@model IEnumerable<HelpingHands.Models.Product>

<section id="intro" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="container-fluid"> 
                <h1 class="pt-5">Products</h1> 
                <div class="row pt-2 pb-2">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        
                    </div>
                </div> 
                <table id="myTable" class="table">
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{


    <script>
        $('#myTable').dataTable({
            serverSide: true,
            processing: true,
            ajax: "/Products/pagedata",
            columns: [

                {
                    name: 'PurchaseOrderNumber',
                    data: "purchaseOrderNumber",
                    title: "Purchase Order Number",
                    sortable: true,
                    searchable: false
                }, {
                    name: 'Notes',
                    data: "notes",
                    title: "Notes",
                    sortable: true,
                    searchable: false
                }, {
                    name: 'PurchaseDate',
                    data: "purchaseDate",
                    title: "Purchase Date",
                    sortable: true,
                    searchable: false,
                    render: function (data, type, row) {
                        return data ? moment(data).format('MMMM Do YYYY') : '';
                    }
                },

                {
                    title: "Actions",
                    data: null, render: function (data, type, row) {
                        return '<div >' +
                            '<a class="btn btn-primary" href="/Products/details/'+data.id +'">' +
                            'View' +
                            '</a>' +

                            '</div>';

                    },
                    sortable: false,
                    searchable: false
                }
            ]
        });
    </script>


}
<style>
    .trans-navigation {
        background: black;
    }

    table.dataTable thead tr {
        background-color: black;
        color: white;
    }
</style>
