@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?"; 
}
<div class="main-container">
    <section class="height-100 text-center">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-7 col-lg-5">
                    <h2>Recover your account</h2>
                    <p class="lead">
                        Enter email address to send a recovery email.
                    </p>
                    <form method="post">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email Address" />
                        <button class="btn btn--primary type--uppercase" type="submit">Recover Account</button>
                    </form>
                    <span class="type--fine-print block">
                        Dont have an account yet?
                        <a href="/pricing">Create account</a>
                    </span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
