@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_LayoutLight.cshtml";
}
<div class="main-container">
    <section class="height-100 imagebg text-center" data-overlay="4">
        <div class="background-image-holder">
            <img alt="background" src="/img/inner-6.jpg" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-7 col-lg-5">
                    <h2>Login to continue</h2>
                    <p class="lead">
                        Welcome back, sign in with your existing Banty account credentials
                    </p>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn--primary type--uppercase" type="submit">Login</button>
                        </div>
                    </form>
                    <span class="type--fine-print block">
                        Dont have an account yet?
                        <a href="/pricing">Create account</a>
                    </span>
                    <span class="type--fine-print block">
                        Forgot your username or password?
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

