@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<br/>
<br/>
        <section id="service">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="service-box">
                            <div class="service-img-icon">
                                <img src="/assets/img/job.png" alt="service-icon" class="img-fluid">
                            </div>
                            <div class="service-inner">
                                <a href="/supplier/create" class="btn btn-primary btn-circled">I am a Supplier</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="service-box">
                            <div class="service-img-icon">
                                <img src="/assets/img/quote2.svg" alt="service-icon" class="img-fluid">
                            </div>
                            <div class="service-inner">
                                <a href="/buyer/create" class="btn btn-primary btn-circled">I am a Buyer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="service-box">
                            <div class="service-img-icon">
                                <img src="/assets/img/shaking-hands-icon-2.png" alt="service-icon" class="img-fluid">
                            </div>
                            <div class="service-inner">
                                <a href="/broker/create" class="btn btn-primary btn-circled">I am a Broker</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

 

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
