@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Thank You For Contacting Us";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thank You,<br />
    One of our customer service representatives will review your information and be in contact within the next 24 hours.

</p>

